<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.melon.account">

    <application>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".signup.SignUpStepFormActivity" />
        <activity android:name=".signup.SignUpReviewStepActivity" />
    </application>

</manifest>