<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.melon.user">

    <application>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProfileImageActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".FollowingActivity" />
    </application>

</manifest>