<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.melon.comment">

    <application>
        <service
            android:name=".PostCommentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".CommentReplyActivity" />
    </application>

</manifest>